@import url("../css/styles.css");
@import url("../css/animated-banner.css");

.video-player {
  max-height: inherit;
}

.banner-hero {
  /* max-height: ; */
  max-height: 60vh;
}

.banner-hero__content {
  grid-column: 2 / -2;
  grid-row: 3;
  align-self: flex-end;
  transform: translateY(65%);
}

.banner-hero__title {
  max-width: 70ch;
}

.clickable-card__list {
  display: flex;
  margin-inline: -2rem;
  justify-content: space-between;
  gap: 2rem;
}

.clickable-card__item {
  flex: 1;
  border-radius: 4px;
  position: relative;
}

.card-item__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 3.25rem;
  position: relative;
  z-index: 1;
}

.donate-background {
  background-image: url("../assets/side-whale.png");
  background-size: cover;
  background-position: center center;
}

.diver-background {
  background-image: url("../assets/diver-volunteer.png");
  background-size: cover;
  background-position: center center;
}

.background-shim {
  inset: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
